
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

venv
env

*.db
*.sqlite
*.db-journal
*.log
.DS_Store
pytest_cache/
.idea/
.vscode/

frontend/node_modules/
frontend/dist/
frontend/.vite/
*.lock


*.swp
*.bak
*.tmp
*.old
*.orig


Thumbs.db
ehthumbs.db
Icon?
